<section class="">
    <!-- Footer -->
    <footer class="text-center text-white" style="    background-color: #34373a">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: CTA -->
        <section class="">
          <p class="d-flex justify-content-center align-items-center">
            <span class="me-3">Register for free</span>
            <button onclick="location.href='/contact'" type="button" class="btn btn-outline-light btn-rounded"> <!-- Attributes an onclick with a link that redirects the user to the contact page -->

              Sign up!
            </button>
          </p>
        </section>
        <!-- Section: CTA -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://github.com/DevBrunoo"> Bruno Oliveira</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>